<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fish Store</title>
  <link rel="stylesheet" type='text/css' href="/css/styles.css">
</head>
<body>

  <!-- Header Section -->
  <header>
    <div class="logo">
      <h1>Fish Store</h1>
    </div>
    <%- include('navbar') %>
  </header>

  <!-- Main Content Section -->
  <main>
    <section class="intro">
      <h2>Welcome to Fish Store</h2>
      <p>Your one-stop shop for everything related to aquariums, fish, and fish food!</p>
    </section>

    <main class="products-page">
      <div class="products-container">
          <% products.slice(0, 6).forEach(product => { %>
              <div class="product-card">
                  <img src="/images/<%= product.image %>" alt="<%= product.ProdName %>" class="product-image">
                  <h2 class="product-name"><%= product.ProdName %></h2>
                  <p class="product-price">£<%= product.price %></p>
                  <button class="buy-now">See more</button>
              </div>
          <% }); %>
      </div>
    </main>
    <div class="buttonHolder"><section class='browse-all'><a href="/products" class="btn">Brows Products</a></section></div>
  </main>

  <!-- Footer Section -->

</body>
<%- include('footer') %>
</html>
